<template>
    <main class="pt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <groups/>
          </div>
  
          <div class="col-md-9">
              <contacts v-if="showContactList"/>
              <addcontact v-if="showAddContact"/>
          </div>
        </div>
      </div>
    </main>
</template>

<script>
import addcontact from '../contacts/addcontact.vue'
import contacts from '../contacts/contacts.vue'
import groups from '../groups/groups.vue'
    
    export default {
        name: 'appcontainer',
        components: { 
            groups,
            contacts,
            addcontact 
        },
        props: {
          showAddContact: app.showAddContact,
          showContactList: app.showContactList
        }
    }
    
</script>