<template>
    <navigator/>
    <appcontainer showContactForm=false showContactList=true @add-new="showContactForm()"></appcontainer>
</template>

<script>
import navigator from './components/home/navigator.vue'
import appcontainer from './components/home/appcontainer.vue'

export default {
  name: 'App',
  components:{
    navigator,
    appcontainer
  },
}
</script>
<style>
  @import './assets/css/bootstrap.min.css';
  @import './assets/css/custom.css';
  @import './assets/css/jasny-bootstrap.min.css';

  .f16{
    font-size: 16px;
  }
  .f18{
    font-size: 18px;
  }
  .f20{
    font-size: 20px;
  }
  .p100{
    padding: 100px;
  }
  .fl{
    float: left;
  }
  .fr{
    float: right;
  }
  .mt10{
    margin-top: 10px;
  }
  .mt5{
    margin-top: 5px;
  }
</style>