<template>
    <div class="form-group row" id="add-new-group">
        <div class="offset-md-3 col-md-8">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="group_id" placeholder="Enter group name" aria-label="Enter group name" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                            <i class="fa fa-check"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
    export default {
        name: 'addgroup' 
    }
</script>
