<template>
    <div class="list-group">
        <group/>
    </div>
</template>

<script>
import group from './group.vue'
export default {
    name : 'groups',
    components:{
        group
    }
}
</script>
