<template>
     <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center active">All Contact <span class="badge badge-warning badge-pill">14</span></a>
</template>

<script>
export default {
  name: 'group' 
}
</script>
