<template>
   <div class="card">
              <div class="card-header">
                <strong>Add Contact</strong>
              </div>           
              <div class="card-body">
                <div class="row">
                  <div class="col-md-9">
                    <div class="form-group row">
                      <label for="name" class="col-md-3 col-form-label">Name</label>
                      <div class="col-md-8">
                        <input type="text" name="name" v-model="name" id="name" class="form-control">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="company" class="col-md-3 col-form-label">Company</label>
                      <div class="col-md-8">
                        <input type="text" name="company" v-model="company" id="company" class="form-control">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="email" class="col-md-3 col-form-label">Email</label>
                      <div class="col-md-8">
                        <input type="text" name="email" v-model="email" id="email" class="form-control">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="phone" class="col-md-3 col-form-label">Phone</label>
                      <div class="col-md-8">
                        <input type="text" name="phone" v-model="phone" id="phone" class="form-control">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="name" class="col-md-3 col-form-label">Address</label>
                      <div class="col-md-8">
                        <textarea name="address" id="address" v-model="address" rows="3" class="form-control"></textarea>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="group" class="col-md-3 col-form-label">Group</label>
                      <div class="col-md-5">
                        <select name="group" id="group" v-model="group" class="form-control">
                          <option value="">Select group</option>
                          <option value="1">Family</option>
                          <option value="2">Friend</option>
                          <option value="3">Other</option>
                        </select>
                      </div>
                      <div class="col-md-3">
                        <a href="#" id="add-group-btn" class="btn btn-outline-secondary btn-block">Add Group</a>
                      </div>
                    </div>
                    <addgroup/>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-offset-3 col-md-6">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="#" style="margin-left:10px;" class="btn btn-outline-secondary">Cancel</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
           
</template>
<script>
import addgroup from '../groups/addgroup.vue'
export default {
  name : 'addcontact',
  components:{
      addgroup
  },
  data(){
    return{
      id: "",
      company:"",
      email:"",
      phone:"",
      address:"",
      group:""
    }
  } 
}
</script>