<template>
    <tr>
        <td class="middle">
            <div class="media">
                <div class="media-left">
                    </div>
                      <div class="media-body">
                        <h4 class="media-heading">{{contact.name}}</h4>
                        <address>
                          <strong>{{contact.job}}</strong><br>
                          {{contact.email}}
                        </address>
                      </div>
                    </div>
                  </td>
                  <td width="100" class="middle">
                    <div>
                      <a href="#" class="btn btn-outline-secondary btn-circle btn-xs" title="Edit">
                        <i class="fa fa-edit"></i>
                      </a>
                      <a href="#" class="btn btn-outline-danger btn-circle btn-xs" title="Delete">
                        <i class="fa fa-times"></i>
                      </a>
                </div>
            </td>
        </tr>
</template>
<script>

export default {
    name: 'contact',
    props: {
      contact :Object
    }
}
</script>