<template>
    <div class="card">
      <div class="card-header">
        <span class="fl f18 mt5"><strong>All Contacts</strong></span>
        <button class="fr btn btn-outline-primary">Add New</button>
      </div>
        <div v-if="(contacts!=undefined && contacts.length>0)" style="max-height:500px; overflow-y:auto" >
          <table :key="contact.id" v-for="contact in contacts" class="table">
            <contact :contact="contact"/>
          </table>
        </div>
    </div>
    <div v-if="(contacts==undefined || contacts.length==0)" class="card" >
        <div class="p100 f20" style="height:300px; text-align:center;"><strong>No Contacts Available at the moment</strong></div>
    </div>

</template>

<script>
import contact from './contact.vue'

export default {
   name : 'contacts',
   props:{
     contacts : Array,
   },
   components :{
       contact,
   }
}
</script>
<style scoped>
  .f18{
    font-size: 18px;
  }
  .fl{
    float: left;
  }
  .fr{
    float: right;
  }
</style>